{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ECNX | Staff Address Book</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">
    <link href="{% static "css/design.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#"><img src="{% static "img/ecnx.png" %}" height='35' width='135' ></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#staffs">Staffs</a>
                    </li>
                    <li>
                        <a href="#departments">Departments</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>ECNX STAFF ADDRESS BOOK</h1>
                        <h3>Welcome you all to Electronic Connections Limited Staff Address Book</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#staffs" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-eye-open"></i> <span class="network-name">Views Staffs</span></a>
                            </li>
                            <li>
                                <a href="#departments" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-eye-open"></i> <span class="network-name">View Departments</span></a>
                            </li>
                            <li>
                                <a href="#" id="btnsearch" data-toggle="modal" data-target="searchModal" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-search"></i> <span class="network-name">Search Staff</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="staffs"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Staff List</h2>
                    <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody> 
                    {% for staff in staff_list %}        
                      <tr>     
                        <td onclick="alert('welcome')">{{ staff.fname }}</td>
                        <td>{{ staff.lname }}</td>
                        <td>{{ staff.email }}</td>
                        <td>{{ staff.phone_number }}</td>
                        <td><i class="glyphicon glyphicon-pencil"></i>&nbsp;<i class="glyphicon glyphicon-minus"></i></td>
                      </tr>  
                    {% endfor %} 
                  </table> 
                   <button class="btn-lg btn-success" data-toggle="modal" data-target="addModal" id="btnadd"> Add Staff </button>
                </div>
                <div class="col-lg-3 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static "img/book2.png" %}" id="imgbook" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Staff Information</h2>
                    <p>Staff ID: 0098</p>
                    <p>Name: John Kennedy</p>
                    <p>Dept: Engineering</p>
                    <p>Email:john@gmail.com</p>
                    <p>Phone:08097987656</p>
                    <p>Home Address: 45, allen junction, kano</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static "img/dog.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Departments</h2>
                    <table class="table table-hover">
                    <thead>      
                    <tr>
                    <th>Name</th>
                    <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in dpt_list %}
                    <tr>
                    <td>{{ x.dept_name }}</td>
                    <td><i class="glyphicon glyphicon-pencil"></i>&nbsp;<i class="glyphicon glyphicon-minus"></i></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                     
                </div>
                <div class="col-lg-2 col-lg-offset-2 col-sm-6">      
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="departments"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Staff Address Book</h2>
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#staffs">Staffs</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#departments">Departments</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Electronic Connections Ltd 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!--Customized Javascript-->
     <script src="{% static "js/design.js" %}"></script>

     <!-- Modal for Searching Staff -->
    <div id="searchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Search Staff</h4>
                </div>
                    <div class="modal-body">
                        <form name="searchform" id = "searchForm" class="m-t" method =  "GET"  action = "staff/">{% csrf_token %}
                            <div class="form-group">
                                
                              <label> Staff Name</label>
                              <input type="text" name="name" id="txt_staff" ng-model='' class="form-control" placeholder="Enter staff firstname" required>
                              </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success sav-btn" style="width:80px;">Search</button>
                                <button class="btn btn-primary" data-dismiss="modal" style="width:80px;">Cancel</button>
                            </div>
                        </form>
                    </div>
            </div>

        </div>
    </div>  

    <!--Modal to add new staff -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Staff</h4>
                </div>
                    <div class="modal-body">
                        <form name="addform" id = "addForm" class="m-t" method =  "GET"  action = "staff/">{% csrf_token %}
                            <div class="form-group">   
                              <label> First Name</label>
                              <input type="text" name="name" id="txt_staff" ng-model='' class="form-control"  required>
                              <label> Last Name</label>
                              <input type="text" name="name" id="txt_staff" ng-model='' class="form-control" required>
                              <label> Email </label>
                              <input type="text" name="name" id="txt_staff" ng-model='' class="form-control"  required>
                              <label> Home Address</label>
                              <input type="text" name="name" id="txt_staff" ng-model='' class="form-control"  required>
                              <label> Phone Number</label>
                              <input type="text" name="name" id="txt_staff" ng-model='' class="form-control"  required>
                              <label> Department</label>
                              <select type="text" name="name" id="txt_staff" ng-model='' class="form-control"  required>
                              <option value="Administrative">Administrative</option>
                              <option value="Software Development">Software Development</option>
                              </select>
                              </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success sav-btn" style="width:80px;">Add</button>
                                <button class="btn btn-primary" data-dismiss="modal" style="width:80px;">Cancel</button>
                            </div>
                        </form>
                    </div>
            </div>

        </div>
    </div>  

</body>

</html>




























































































































































































































































































































































































































































































































































































































































































































































